body{
    background-image: url(/IMG/Fondo.png);
    background-repeat: repeat;
    background-size: 50%;
}

main{
    
    border-style: solid;
    box-shadow: rgb(49, 49, 49);
   background-color: rgb(243, 194, 150);
    border-color: rgb(73, 73, 73);
    float: left;
    width: 1020px;
    
}
aside{
    background-color: black;
    border: solid grey;
    color: rgb(18, 165, 18);
    width: 300px;
    float: right;
    height: 379px;
}
footer{
  
    font-size: 80%;
    color: rgb(71, 70, 70);
    
    
}



a.wiki:hover{
    color: lightskyblue;
}
a.wiki:link{
    color: lightseagreen;
}
a.wiki:active{
    color: lightsalmon;
}
div.barra{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black;
}
div.inicio:hover{
    background-color: lightskyblue;
    
    
}
div.fotos:hover{
    background-color: lightskyblue;
    
}
div.contacto:hover{
    background-color: lightskyblue;
    
    
}
div.inicio:active{
    border: outset skyblue;
}
div.fotos:active{
    border: outset skyblue;
}
div.contacto:active{
    border: outset skyblue;
}
a.ini{
    text-decoration: none;
    color: black;
}
a.ini:hover{
    text-decoration: none;
    color: black;
}
a.ini:active{
    text-decoration: none;
    color: black;
}
a.ini:visited{
    text-decoration: none;
    color: black;
}
a.fot{
    text-decoration:none;
    color: black;
}
a.fot:hover{
    text-decoration: none;
    color: black;
}
a.fot:visited{
    text-decoration: none;
color: black;
}
a.fot:active{
    text-decoration: none;
    color: black;
}
a.cont{
    text-decoration: none;
    color: black;
}
a.cont:active{
    text-decoration: none;
    color: black;
    
}
a.cont:visited{
    text-decoration: none;
    color: black;
}
a.cont:hover{
    text-decoration: none;
    color: black;
}